ackermann-msgs==2.0.2
action-tutorials-interfaces==0.20.8
action-tutorials-py==0.20.8
action_msgs==1.2.1
actionlib_msgs==4.2.4
alpha3_dashboard==0.0.0
alpha3d_dashboard==0.0.0
ament-clang-format==0.12.15
ament-clang-tidy==0.12.15
ament-cmake-google-benchmark==1.3.13
ament-cmake-test==1.3.13
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
asttokens==3.0.1
bond==4.1.2
builtin_interfaces==1.2.1
canopen_interfaces==0.2.11
cogen==0.2.11
comm==0.2.3
composition-interfaces==1.2.2
contourpy==1.3.2
control_msgs==4.7.0
controller_manager==2.47.0
controller_manager_msgs==2.47.0
cv-bridge==3.2.1
cycler==0.12.1
data-tamer-msgs==0.9.3
dcf-tools==2.4.0
debugpy==1.8.20
decorator==5.2.1
demo-nodes-py==0.20.8
diagnostic-updater==4.0.6
diagnostic_msgs==4.2.4
domain-coordinator==0.10.0
example_interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.3.1
executing==2.2.1
ffmpeg-image-transport-msgs==1.1.2
fonttools==4.62.1
foxglove_msgs==3.0.0
generate-parameter-library-py==0.6.0
geodesy==1.0.6
geographic-msgs==1.0.6
geometry_msgs==4.2.4
graph-msgs==0.2.0
image-geometry==3.2.1
interactive-markers==2.3.2
ipykernel==7.2.0
ipython==8.39.0
jedi==0.19.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
joy-teleop==1.6.0
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.5.0
laser-geometry==2.4.1
launch==1.0.14
launch-param-builder==0.1.1
launch-pytest==1.0.14
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
lifecycle_msgs==1.2.1
lifting_ctrl_ros2_pkg==0.0.0
lifting_msg_pkg==0.0.0
logging-demo==0.20.8
map-msgs==2.1.0
matplotlib==3.10.8
matplotlib-inline==0.2.1
mavros==2.14.0
mavros-msgs==2.14.0
message-filters==4.3.14
mocap4r2-control-msgs==0.0.7
mocap4r2-msgs==0.0.6
moveit==0.1.3
moveit_configs_utils==2.12.0
moveit_msgs==2.6.0
moveit_task_constructor_msgs==0.1.3
nav2_common==1.1.15
nav2_msgs==1.1.15
nav_msgs==4.2.4
nest-asyncio==1.6.0
nmea-msgs==2.0.0
numpy==2.2.6
object_recognition_msgs==2.0.0
octomap_msgs==2.0.0
opencv-python==4.13.0.92
osrf-pycommon==2.1.6
packaging==26.0
pandas==2.3.3
parso==0.8.6
pcl-msgs==1.0.0
pendulum-msgs==0.20.8
pexpect==4.9.0
picknik-ament-copyright==0.0.1
pillow==12.2.0
platformdirs==4.9.6
plotjuggler-msgs==0.2.3
point-cloud-interfaces==1.0.13
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-qt-binding==1.1.3
pytz==2026.1.post1
pyzmq==27.1.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.8
rcl_interfaces==1.2.1
rclpy==3.3.20
rcutils==5.1.8
realsense2-camera-msgs==4.56.4
resource-retriever==3.1.3
rf_baymax_lift_motor_driver==0.0.0
rf_protos==0.0.0
rf_ros_interfaces==0.0.0
rf_sim_interfaces==0.0.1
rf_system_diagnostics==0.0.0
rmw-dds-common==1.6.0
robot-localization==3.5.4
ros2-controllers-test-nodes==2.52.0
ros2action==0.18.17
ros2bag==0.15.16
ros2cli==0.18.17
ros2component==0.18.17
ros2controlcli==2.47.0
ros2doctor==0.18.17
ros2interface==0.18.17
ros2launch==0.19.13
ros2lifecycle==0.18.17
ros2multicast==0.18.17
ros2node==0.18.17
ros2param==0.18.17
ros2pkg==0.18.17
ros2plugin==5.1.3
ros2run==0.18.17
ros2service==0.18.17
ros2test==0.4.0
ros2topic==0.18.17
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rosidl_adapter_proto==0.0.1
rosidl_typesupport_protobuf==0.0.1
rosidl_typesupport_protobuf_cpp==0.0.1
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-joint-trajectory-controller==2.52.0
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.3
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.1
sensor-msgs-py==4.9.1
sensor_msgs==4.2.4
shape_msgs==4.2.4
six==1.17.0
smclib==4.1.2
srdfdom==2.0.7
sros2==0.10.9
stack-data==0.6.3
statistics-msgs==1.2.2
std_msgs==4.2.4
std_srvs==4.2.4
stereo_msgs==4.2.4
teleop-tools-msgs==1.7.0
teleop-twist-keyboard==2.4.1
test_msgs==1.2.1
tf-transformations==1.1.1
tf2-geometry-msgs==0.25.19
tf2-kdl==0.25.19
tf2-msgs==0.25.19
tf2-py==0.25.19
tf2-ros-py==0.25.19
tf2-sensor-msgs==0.25.19
tf2-tools==0.25.19
theora-image-transport==2.5.4
tool_changing_msgs==0.0.1
topic-monitor==0.20.8
topic-tools==1.1.1
topic-tools-interfaces==1.1.1
tornado==6.5.5
traitlets==5.14.3
trajectory_msgs==4.2.4
turtlesim==1.4.3
twist-mux-msgs==3.0.1
typing_extensions==4.15.0
tzdata==2026.1
unique_identifier_msgs==2.2.1
ur-dashboard-msgs==2.12.0
ur-msgs==2.3.0
ur-robot-driver==2.12.0
urdfdom-py==1.2.1
visualization_msgs==4.2.4
wcwidth==0.6.0
xacro==2.1.1
zed-msgs==5.1.1
